body
{
	background-color: orange;
}
#header-nav
{
	background-color:#6eb4d6;
	border-radius: 0;
	border: 0px;
	padding-bottom: 0px;
}
.navbar-default .navbar-brand
{
	font-weight: bolder;
color: #0a0000
}
#nav-list
{
	text-align: center;
	
}
 h2,h3
 {text-align: center;
  font-weight: bold;}
 .col-xs-12 div{
 	background-color:#efcecef5;
 	padding: 10px;
 }
 .col-xs-12
 {
 	padding:50px;
 }
 li{
 	font-weight: bold;
 }
